In [ ]:
import os
import pandas as pd
import numpy as np
# path = r"11201602IMOshipsFromhbase-Tz30s-withMmsi-0611/"
path = r"20160607roadnet/"
data = pd.DataFrame(columns = ['lon','lat'])# 'utc','mmsi','dsy'
file_count = 0
columns_list = []
for i in range(2): # 3
    columns_list.append(str(i))
#columns_list[0] = 'utc'
#columns_list[1] = 'mmsi'
columns_list[0] = 'lon'
columns_list[1] = 'lat'

for file in os.listdir(path):
    data_temp  = pd.read_csv(os.path.join(path,file))
    data_temp.columns = columns_list
    data_temp = data_temp[['lon','lat']]# 'utc','mmsi','dsy'
    data_temp['count'] = file_count
    data = pd.concat([data,data_temp])
    
    file_count += 1
    if file_count%100 == 0:
        print(file_count)

100
200
300

In [ ]:
# data = data.drop(columns='dsy')
data = data.drop(columns='utc')

In [ ]:
print(data)

           lon        lat  count
0   122.019528  38.188689    0.0
1   122.018351  38.190219    0.0
2   122.017174  38.191749    0.0
3   122.018298  38.192186    0.0
4   122.020656  38.193490    0.0
..         ...        ...    ...
95  120.446174  39.107302  397.0
96  120.442741  39.110236  397.0
97  120.439183  39.113419  397.0
98  120.437934  39.112889  397.0
99  120.421018  39.107236  397.0

[10511 rows x 3 columns]

In [ ]:
#Filter, or skip if you don't need to filter the wrong area; Lon： 117.2~ 124 ； Lat： 36.5 ~ 41.5
result = data[(124>=data['lon'])&(data['lon']>=117.2)&(36.5<=data['lat'])&(data['lat']<=41.5)]
print(result)

           lon        lat   count
0   119.037975  38.428636     0.0
0   119.097831  38.505603     1.0
0   123.238012  37.556155     2.0
1   123.238512  37.552035     2.0
2   123.242507  37.552170     2.0
..         ...        ...     ...
0   118.119607  38.379060  1366.0
0   118.060826  38.370739  1367.0
0   120.251770  39.173813  1368.0
0   119.102977  38.463482  1369.0
0   120.408350  38.150341  1370.0

[9375 rows x 3 columns]

In [ ]:
data.dtypes

lon      float64
lat      float64
count    float64
dtype: object

In [ ]:
result = result.astype({'mmsi':'int','utc':'int'})

In [ ]:
result = data.astype({'dsy':'int'})

In [ ]:
test = result.drop_duplicates(subset = ['mmsi','utc'],keep="first")
test

            mmsi         utc         lon        lat
15     273338510  1454308126  122.596622  37.987100
16     273338510  1454306479  122.520953  38.088215
17     273338510  1454315170  122.916607  37.538898
18     273338510  1454306758  122.533325  38.071507
19     273338510  1454314511  122.886490  37.582018
...          ...         ...         ...        ...
43451  677063700  1454297697  122.438232  36.882625
43452  677063700  1454505844  122.435597  36.879033
43453  677063700  1454384402  122.435577  36.879087
43454  677063700  1454497206  122.435608  36.879082
43455  677063700  1454286515  122.438215  36.882595

[2043308 rows x 4 columns]

In [ ]:
data.to_hdf(r"20160607centerline.h5", key='df', mode='w')

In [ ]:
data.to_hdf(r"goodcenterline.h5", key='df', mode='w')

In [ ]:
data.to_hdf(r"20160607roadnet.h5", key='df', mode='w')

In [ ]:
result.to_hdf(r"dsy50.h5", key='df', mode='w')